* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

li {
  list-style: none;
}

.header {
  font-family: sans-serif;
  color: #FFFCF6;
  background-color: #313F38;
  padding: 60px 0;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-title {
  font-size: 18px;
}
.header__nav-list {
  display: flex;
  gap: 30px;
}
.header__nav-list-item {
  font-size: 12px;
  text-transform: uppercase;
}
.header__nav-number {
  font-size: 18px;
}
.header__nav .fa-bars {
  display: none;
}
.header__hero-top {
  display: flex;
  justify-content: space-between;
  height: 250px;
}
.header__hero h1 {
  font-size: 140px;
  font-weight: 300;
}
.header__hero h1 span {
  color: #FCD043;
}
.header__hero-text {
  font-size: 18px;
  text-transform: uppercase;
  color: #FCD043;
  margin: 20px 0 0 0;
}
.header__hero-container {
  display: block;
}
.header__hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 52px;
  font-size: 20px;
  color: #FFFCF6;
  background: transparent;
  border: 1px solid #FFFCF6;
  border-radius: 60px;
  gap: 10px;
  opacity: 0.4;
}
.header__hero-text2 {
  width: 320px;
  font-size: 16px;
  line-height: 24px;
}
.header__hero-bottom {
  position: relative;
  height: 650px;
}
.header__hero-bottom-img {
  width: 100%;
  height: 600px;
}
.header__hero-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 320px;
  height: 130px;
  background-color: rgba(49, 63, 56, 0.4784313725);
  text-transform: uppercase;
}
.header__hero .box {
  position: absolute;
  top: 0;
  right: 640px;
  opacity: 0.9;
}
.header__hero .box2 {
  position: absolute;
  top: 0;
  right: 320px;
  opacity: 0.9;
}
.header__hero .box3 {
  position: absolute;
  top: 0;
  right: 0;
  color: #1B3B36;
  background-color: #FCD043;
}
.header__hero-vector {
  transition: 2s ease;
  cursor: pointer;
}
.header__hero-vector:hover {
  transform: rotate(180deg);
}
.header__hero-vector2 {
  transition: 2s ease;
  transform: rotate(180deg);
  cursor: pointer;
}
.header__hero-vector2:hover {
  transform: rotate(0deg);
}
.header__hero-btnimg {
  display: none;
}
.header__hero-extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.header__hero-extra-number {
  font-size: 22px;
  text-transform: uppercase;
  color: #FCD043;
}
.header__hero-extra-text {
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFCF6;
}
.header__hero-extra-text span {
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 50px 20px;
  }
  .header__nav-list, .header__nav-number {
    display: none;
  }
  .header__nav .fa-bars {
    display: block;
    font-size: 20px;
  }
  .header__hero-top {
    display: flex;
    justify-content: center;
  }
  .header__hero h1 {
    font-size: 90px;
    margin: 15px 50px 0 0;
  }
  .header__hero-text {
    font-size: 13px;
    margin: 0 0 0 0;
  }
  .header__hero-btn {
    display: none;
  }
  .header__hero-container {
    display: flex;
  }
  .header__hero-text2 {
    width: 180px;
    font-size: 11px;
    margin: 25px 0 0 30px;
  }
  .header__hero-bottom {
    position: relative;
    width: 100%;
    height: 500px;
  }
  .header__hero-bottom-img {
    width: 100%;
    height: 100%;
  }
  .header__hero-box {
    width: 230px;
    height: 100px;
    font-size: 14px;
  }
  .header__hero .box {
    position: absolute;
    top: 400px;
    right: 460px;
  }
  .header__hero .box2 {
    position: absolute;
    top: 400px;
    right: 230px;
  }
  .header__hero .box3 {
    position: absolute;
    top: 400px;
    right: 0;
  }
  .header__hero-extra-text, .header__hero-extra-number {
    font-size: 18px;
    text-decoration: none;
  }
}
@media screen and (max-width: 400px) {
  .header {
    padding: 50px 20px;
  }
  .header__nav-list, .header__nav-number {
    display: none;
  }
  .header__nav .fa-bars {
    display: block;
    font-size: 20px;
  }
  .header__hero-top {
    display: block;
  }
  .header__hero h1 {
    font-size: 76px;
    margin: 15px 0 0 0;
  }
  .header__hero-text {
    font-size: 11px;
    text-align: center;
    margin: 10px 0 0 0;
  }
  .header__hero-image {
    display: none;
  }
  .header__hero-btn {
    display: none;
  }
  .header__hero-container {
    display: block;
  }
  .header__hero-text2 {
    width: 240px;
    font-size: 12px;
    text-align: center;
    margin: -70px 0 0 60px;
  }
  .header__hero-bottom {
    position: relative;
    width: 100%;
    height: 400px;
  }
  .header__hero-bottom-img {
    width: 100%;
    height: 100%;
  }
  .header__hero-box {
    display: none;
  }
  .header__hero-btnimg {
    position: absolute;
    display: block;
    bottom: 10px;
    right: 10px;
  }
  .header__hero-extra {
    display: flex;
    justify-content: left;
  }
  .header__hero-extra-text, .header__hero-extra-number {
    display: none;
  }
  .header__hero-extra .text {
    display: block;
    font-size: 16px;
    margin: 20px 0 0 0;
  }
}

/*# sourceMappingURL=main.css.map */
