.header {
    font-family: sans-serif;
    color: #FFFCF6;
    background-color: #313F38;
    padding: 60px 0;
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-title {
            font-size: 18px;
        }
        &-list {
            display: flex;
            gap: 30px;
            &-item {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
        &-number {
            font-size: 18px;
        }
        .fa-bars {
            display: none;
        }
    }
    &__hero {
        &-top {
            display: flex;  
            // align-items: center;
            justify-content: space-between;
            height: 250px;
        }
        h1 {
            font-size: 140px;
            font-weight: 300;
        }
        h1 span {
            color: #FCD043;
        }
        &-text {
            font-size: 18px;
            text-transform: uppercase;
            color: #FCD043;
            margin: 20px 0 0 0;
        }
        &-container {
            display: block;
        }
        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 190px;
            height: 52px;
            font-size: 20px;
            color: #FFFCF6;
            background: transparent;
            border: 1px solid #FFFCF6;
            border-radius: 60px;
            gap: 10px;
            opacity: .4;
        }
        &-text2 {
            width: 320px;
            font-size: 16px;
            line-height: 24px;
        }
        &-bottom {
            position: relative;
            height: 650px;
            &-img {
                width: 100%;
                height: 600px;
            }
        }
        &-box {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 100px;
            width: 320px;
            height: 130px;
            background-color: #313F387A;
            text-transform: uppercase;
        }
        .box {
            position: absolute;
            top: 0;
            right: 640px;
            opacity: .9;
        }
        .box2 {
            position: absolute;
            top: 0;
            right: 320px;
            opacity: .9;
        }
        .box3 {
            position: absolute;
            top: 0;
            right: 0; 
            color: #1B3B36;
            background-color: #FCD043;
        }
        &-vector {
            transition: 2s ease;
            cursor: pointer;
        }
        &-vector:hover {
            transform: rotate(180deg);
        }
        &-vector2 {
            transition: 2s ease;
            transform: rotate(180deg);
            cursor: pointer;
        }
        &-vector2:hover {
            transform: rotate(0deg);
        }
        &-btnimg {
            display: none;
        }
        &-extra {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100px;
            &-number {
                font-size: 22px;
                text-transform: uppercase;
                color: #FCD043;
            }
            &-text {
                font-size: 22px;
                text-transform: uppercase;
                color: #FFFCF6;
            }
            &-text span {
                font-style: italic;
            }
        }
    }
}



@media screen and (max-width: 768px) {
    .header {
        padding: 50px 20px;
        &__nav {
            &-list, &-number {
                display: none;
            }
            .fa-bars {
                display: block;
                font-size: 20px;
            }
            
        }
        &__hero {
            &-top {
                display: flex;
                justify-content: center;
            }
            h1 {
                font-size: 90px;
                margin: 15px 50px 0 0;
            }
            &-text {
                font-size: 13px;
                margin: 0 0 0 0;
            }
            &-btn {
                display: none;
            }
            &-container {
                display: flex;
                // align-items: center;
            }
            &-text2 {
                width: 180px;
                font-size: 11px;
                margin: 25px 0 0 30px;
            }
            &-bottom {
                position: relative;
                width: 100%;
                height: 500px;
                &-img {
                    width: 100%;
                    height: 100%;
                }
            }
            &-box {
                width: 230px;
                height: 100px;
                font-size: 14px;
            }
            .box {
                position: absolute;
                top: 400px;
                right: 460px;
            }
            .box2 {
                position: absolute;
                top: 400px;
                right: 230px;
            } 
            .box3 {
                position: absolute;
                top: 400px;
                right: 0;
            }
            &-extra {
                &-text, &-number {
                    font-size: 18px;
                    text-decoration: none;
                }
            }
        }
    }
}



@media screen and (max-width: 400px) {
    .header {
        padding: 50px 20px;
        &__nav {
            &-list, &-number {
                display: none;
            }
            .fa-bars {
                display: block;
                font-size: 20px;
            }
            
        }
        &__hero {
            &-top {
                display: block;
            }
            h1 {
                font-size: 76px;
                margin: 15px 0 0 0;
            }
            &-text {
                font-size: 11px;
                text-align: center;
                margin: 10px 0 0 0;
            }
            &-image {
                display: none;
            }
            &-btn {
                display: none;
            }
            &-container {
                display: block;
            }
            &-text2 {
                width: 240px;
                font-size: 12px;
                text-align: center;
                margin: -70px 0 0 60px;
            }
            &-bottom {
                position: relative;
                width: 100%;
                height: 400px;
                &-img {
                    width: 100%;
                    height: 100%;
                }
            }
            &-box {
                display: none;
            }
            &-btnimg {
                position: absolute;
                display: block;
                bottom: 10px;
                right: 10px;
            }            
            &-extra {
                display: flex;
                justify-content: left;
                &-text, &-number {
                    display: none;
                }
                .text {
                    display: block;
                    font-size: 16px;
                    margin: 20px 0 0 0;
                }
            }
        }
    }
}